# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties
android/app/google-services.json

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/Flutter/Flutter.podspec

# IDE
.vscode/
.idea/
*.iml

# Secrets
*.keystore
*.jks
serviceAccountKey.json